# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# Streamlit and pickle files
*.pkl

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Data files
tmdb_5000_credits.csv
tmdb_5000_movies.csv

# Local tunnel and Streamlit logs
*.log   